#menu {
    color: white;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    gap: 50px;
    padding: 100px;
    justify-items: center;
}

.menu-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 25px;
    border: 2px solid var(--brown);
    border-radius: 15px;
}

.menu-item {
    display: flex;
    text-align: left;
    width: 80%;
    align-items: center;
    border-bottom: 2px dotted var(--brown);
}

#menu p:first-child {
    margin-right: auto;
}

#menu h3 {
    font-weight: bold;
    font-size: 1.25rem;
    border-bottom: 2px solid var(--brown);
}

#menu p {
    font-size: .625rem;
}