/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    font-size: 36px;
    color: var(--white);
    --brown: #5E503F;
}

body {
    line-height: 1;
    height: 100%;
    width: 100%;
    background-color: black;
}

img {
    height: 40px;
    width: 40px;
}

#content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 1fr 14fr/ 1fr;
}

#nav {
    display: flex;
    background-color: black;
    color: white;
    border-bottom: 2px solid var(--brown);
}

.branding {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 30px;
    margin-left: 5%;
}

.sections {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
}

.sections > button {
    font-weight: bold;
    font-size: .6rem;
    border: 0px;
    background-color: transparent;
    color: white;
    border-bottom: 2px solid var(--brown);
    height: 35px;
    width: 78px;
}

button:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

button:active {
    transform: scale(1.2);
}

.buttons {
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px;
}

.buttons > button {
    font-weight: bold;
    font-size: .4rem;
    background-color: var(--brown);
    border: 2px solid var(--brown);
    border-radius: 15px;
    color: white;
    height: 50px;
    width: 100px; 
}